<ion-content class="ion-padding">
  <div style="display: flex; justify-content: center; gap: 10px">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
          <ion-button (click)="cargaCatalogoEstados()">Carga Catálogo Estados</ion-button>
        </ion-col>
        <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
          <ion-button>Catálogo Regiones</ion-button>
        </ion-col>
        <ion-col size="12" size-lg="3" sizeMd="4" sizeSm="6">
          <ion-button>Catálogo Productos</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
